<div id="residents">
  Residents: <%= @characters.count %>
</div>

<% @characters.first(25).each do |character| %>
  <div id="character-<%= character.id %>">
    Name: <%= character.name %><br>
    <% if character.photo %>
      <img src=<%= character.photo%> alt="photo", width="100", height="auto"><br>
    <% end %>
    <ul id="allies"> Allies
      <% if character.allies.empty? %>
        None
      <% else %>
        <% character.allies.each do |ally| %>
          <li><%= ally %>
        <% end %>
      <% end %>
    </ul>
    <ul id="enemies"> Enemies
      <% if character.enemies.empty? %>
        None
      <% else %>
        <% character.enemies.each do |enemy| %>
          <li><%= enemy %>
        <% end %>
      <% end %>
    </ul>
    <div id="affiliation"> 
      Affiliation: <%= character.affiliation %>
    </div>
  </div>
  <br>
  <br>
<% end %>